# Config file for automatic testing at travis-ci.org

sudo: required
dist: xenial
language: python

python:
  - 3.7
  - 3.6
  - 3.5
  - 2.7

env:
  matrix:
  - TOXENV='pep8'
  - TOXENV='isort'
  - TEST='1'


# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then export PYVER=py27; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then export PYVER=py35; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then export PYVER=py36; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then export PYVER=py37; fi"
  - "if [[ ${TEST}z != 'z' ]]; then export TOXENV=$PYVER; fi"

# command to run tests, e.g. python setup.py test
script: COMMAND='coverage run' tox -e$TOXENV

before_install:
  - pip install -U tox>=1.8 coveralls codecov wheel pip
after_success:
  - codecov
  - coveralls

matrix:
  exclude:
  - python: 2.7
    env: TOXENV='pep8'
  - python: 2.7
    env: TOXENV='isort'
  - python: 3.5
    env: TOXENV='pep8'
  - python: 3.5
    env: TOXENV='isort'
  - python: 3.7
    env: TOXENV='pep8'
  - python: 3.7
    env: TOXENV='isort'

cache:
  pip
